<%= form_with(model: @user, local: true) do |f| %>
  <div class="row">
    <div class="input-field col s6 col-sm-6">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autocomplete: "first_name" %>
    </div>
    <div class="input-field col s6 col-sm-6">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, autocomplete: "last_name" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 col-sm-12">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", class:'Select branch' %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6 col-sm-6">
      <%= f.password_field :password, autocomplete: "new-password" %>
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>
    <div class="input-field col s6 col-sm-6">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <%= f.label :password_confirmation %>
    </div>
  </div>
  <br/>

  <button class="btn waves-effect sn bottom-margin2 logreg" type="submit" name="action" style="width:11rem;">REGISTER
    <i class="material-icons right blue-text">send</i>
  </button>
  <br/>

<% end %>
