<div class="container">
  <h2 class="heading-view"><b>Coding Dojo<span class="white-text"> <%= @dojo.city %></span></b></h2>
  <ul class="col s12">
      <li class="col s6"><p class="u_info">Address: <span class="grey-text"><%= @dojo.street %></span></p></li>
      <li class="col s6">
          <p class="u_info">City: <span class="grey-text"><%= @dojo.city   %></span></p>
          <p class="u_info">State: <span class="grey-text"><%= @dojo.state  %></span></p>
      </li>
  </ul>

  <% if all_users %>
  <h4 class="heading-view top-margin4"><b>Staff<span class="white-text">Members</span></b></h4>
  <table class="highlight">
      <thead>
      <tr>
          <th class="theader">Name   </th>
          <th class="theader">Email  </th>
          <th class="theader">Title  </th>
          <th class="theader">Actions</th>
      </tr>
      </thead>
      <tbody>
          <div>
              <% all_users.each do |user| %>
              <tr class="trbody">
                  <td><%= link_to "#{user.fullname}", "/users/#{user.id}/details", class:'grey-text text-lighten-1' %></td>
                  <td><%= user.email      %></td>
                  <% unless user.admin %>
                  <td>Staff</td>
                  <% else %>
                  <td>Manager</td>
                  <% end %>
                  <td>
                      <%= link_to 'View Details', "/users/#{user.id}/details", class:'sn show' %>
                      <% if current_user %>
                      <%= link_to 'Edit', edit_user_registration_path(user), class:'sn edit' %>
                      <%= link_to 'Delete', user_registration_path(user), class:'sn delete', method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% end %>
                  </td>
              </tr>
              <% end %>
          </div>
      </tbody>
  </table>
  <% else %>
  <h4 class="grey-text text-lighten-1 top-margin4 _header" style="margin:2rem 0 !important">
      No Student Has Been Added by This User,
      <b class="grey-text text-lighten-2">Yet!</b>
  </h4>
  <% end %>
</div>

<% if current_user %>
<%= link_to 'Add New Student', new_dojo_students_path(@dojo), class:'btn sn bottom-links' %>
<% end %>
<% if admin %>
<%= link_to 'Edit Dojo', edit_dojo_path(@dojo), class:'btn sn bottom-links', style:'margin-left:0.2rem !important' %>
<% end %>
<%= link_to 'Back', :back, class:'btn sn bottom-links right limits' %>
